@charset "UTF-8";


.hero{
    height: 100vh;
    width: 100%;
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 8% 0 8%;
    
}

nav ul li{
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:aqua;
}

.logo span{
    color: aqua;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.home{
    padding: 60px;
    color: aqua;
    font-size: 40px;
}

.home #left{
    text-align: left;
}

.home #right{
    text-align: right;
}

.home span{
    color: white;
    font-weight: bold;
    font-size: 50px;
}


.container{
    padding-top: 10px;
    color: white;
    background-color: black;
}

.container_top1{
    height: 100vh;
    width: 100%;
}
.container_top1 .top1_block{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.container_top1 .top1{
    width: 30%;
    text-align:center;
    margin-bottom: 20px;
}


.container_top1 h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.container_top1 .previous{
    font-size: 15px;
    margin-bottom: 100px;
    text-align: center;
}

.container_top1 .previous a:hover{
    color:aqua;
}

.container_top1 .top1 .ttl{
    font-weight: bold;
    font-size: 18px;
}
.container_top1 .top1 .explain{
    font-size: 12px;
    text-align: left;
    margin-bottom:20px;
}
.top1 button{
    font-size: 15px;
    background:rgb(63, 79, 79);
    color:#fff;
    padding: 10px 20px 10px;
    align-items:flex-end
}
.top1 a{
    font-size: 15px;
    background:rgb(63, 79, 79);
    color:#fff;
    padding: 10px 20px 10px;
    align-items:flex-end
}
.container_top1 .top1 a:hover{
    color:aqua;
}
.top1 button:hover{
    color:aqua;
}
#modal1{
    display:none;
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: gray;
    z-index: 10;
}
#modal2{
    display:none;
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: gray;
    z-index: 10;
}
#modal3{
    display:none;
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: gray;
    z-index: 10;
}
#modal4{
    display:none;
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: gray;
    z-index: 10;
}
.modal-content{
    background-color: white;
    margin: 15% auto;
    width: 80%;
    animation-name:popup;
    animation-duration: 2s;
}

@keyframes popup{
    from{
        transform: translateY(150%);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.modal-header{
    margin-top: 30px;
    padding: 10px 20px;
}
.modal-header h1{
    font-size: 15px;
}
.modal-body{
    padding: 15px 20px;
    color: black;
}
.gallery{
    margin: 10px 50px;
    text-align: center;
}
.gallery img{
    width: 180px;
    height: 120px;
    object-fit: cover;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1.0s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
.result{
    text-align: center;
}
.result img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    padding: 10px;
}